.form-container{
    margin-top: 18vh;
    padding: 3em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1em;
    display: flex;
    margin-left: 20em;
    margin-right: 20em;
}
img{
    height: 40vh;
    width: 20vw;
}
.input{
   width: 25em;
}
